$nopadding: (left: 0, right: 0, top: 0, bottom: 0);
@each $name, $value in $nopadding{
    .nopadding-#{$name} {
        padding-#{$name}: $value;
    }
    .nomargin-#{$name}{
        margin-#{$name}: $value;
    }
}
.nopadding{
    padding: 0;
}
.nomargin{
    margin: 0;
}

$margins: (xs: 0.5rem, sm: 1rem, md: 1.5rem, lg: 2rem, xl: 2.5rem);
@each $name, $value in $margins {
    .margin-top-#{$name} {
        margin-top: $value;
    }

    .margin-bottom-#{$name} {
        margin-bottom: $value;
    }
}

$paddings: (xs: 0.5rem, sm: 1rem, md: 1.5rem, lg: 2rem, xl: 2.5rem, xxl: 3rem);
@each $name, $value in $paddings {
    .padding-top-#{$name} {
        padding-top: $value;
    }

    .padding-bottom-#{$name} {
        padding-bottom: $value;
    }

    .padding-left-#{$name} {
        padding-left: $value;
    }

    .padding-right-#{$name} {
        padding-right: $value;
    }

    .padding-lt-rt-#{$name} {
        padding-left: $value;
        padding-right: $value;
    }
}


textarea { resize:both; } /* none|horizontal|vertical|both */
textarea.vert { resize:vertical; }
textarea.noResize { resize:none; }
/*constrain the width and height of the textarea element*/
textarea.ctrl_vert { resize:vertical; max-height:300px; min-height:200px; }
textarea.ctrl_horiz { resize:horizontal; max-width:400px; min-width:200px; }

#home{
    padding: 0;
}

#news{
    &.page-wrapper{
        padding-bottom: 0;
    }
}

#business{
    &.page-wrapper{
        padding-bottom: 0;
    }
}

.navbar-brand{
    span{
        font-size: 26px;
    }
}

#contact-info-form{
    label{
        font-weight: normal;
        float: left;
        &:after{
            content: ":";
        }
        .mandatory{
            color: #d02c21;
        }
    }
    #re_title{
        width: 20%;
    }
}

.portfolio-item{
    .ctitle{
        text-align: center;
    }
}

.busi-tax{
    .page-title{
        &.uline{
            border-bottom: 1px solid #005C82;
        }
    }
}

.more-products{
    margin-top: 60px;
    text-align: center;
}

.w250{
    min-width: 250px;
}

.banner{
    #header-image{
        background-repeat: no-repeat;
        background-position: 60% 50% !important;
        background-size: cover;
        height: 30em;
        padding: 17em 4% 0 4%;
        box-sizing: border-box;
    }
    h1{
        font-weight: bold;
        margin-top: 0;
        font-size: 2em;
        text-shadow: 0 3px 2px rgba(0, 0, 0, .4);
    }
}

.business{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    background-color: #F0EDEC;
    .page-content{
        padding: 1em 10% 1em 10%;
        margin-left: 0;
        margin-right: 0;
    }
    .bu-prod{
        padding: 1em 10% 1em 10%;
        background: #938B86;
        margin-top: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.client-item{
    display: block;
    height: 150px;
    overflow: hidden;
    img{
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

#footer{
    .footer-logo{
        font-weight: bold;
    }
    .footer-nav{
        
    }
}